@model IEnumerable<CourseRegistrationSystem.Models.Registration>

<h2>My Courses</h2>

<table class="table">
    <thead>
        <tr>
            <th>Course</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.Course.CourseName</td>
                <td>
                    <a href="/Registration/Edit/@r.Id">Edit</a> |
                    <a href="/Registration/Cancel/@r.Id">Cancel</a>
                </td>
            </tr>
        }
    </tbody>
</table>
